@{
    ViewData["Title"] = "Games List";
}

<h2>My games List</h2>
<article>
    <!--Comments! Comments everywhere!-->
    <p>Hello Novicell.</p>
    <p>Here comes a list of my favorite games.</p>
</article>
